# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Static
staticfiles/

# Media
media/

# OS Files
.DS_Store
Thumbs.db